*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color-font: rgb(5, 31, 61, 0.8);
}

/* body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
} */

  

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container2 {
  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 5%;
}

.mt20 {
  margin-top: 20px;
}

.column {
  flex-direction: column;
}

.add-container {
  /* border: 2px solid blue; */
  width: 30%;
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
